*{
    box-sizing: border-box;
    font-family: 'Muller';
    
}
a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    max-width: 100%;
}
html{
    background-color: #E5E5E5;
    
}
.container{
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 70px;
}

/* header */
.header-container{
    padding:0;
}
.header{
    margin: 30px auto 70px;
    flex-direction:column-reverse;
}
.header-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
}
.logo{
    margin-right: 40px;
}
.header-top-left{
    display: flex;
    align-items: center;
}
.header-phone{
    font-size: 20px;
    font-weight: 500;
    color:#666
}
.header-phone:hover{
    color: #CC9933;
}
.header-top-right{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.header-top-right-link{
    font-size: 16px;
    background-image: url(/img/arrow-header.svg);
    background-position: left 2px;
    background-size: 20px 12px;
    background-repeat: no-repeat;
    padding-left: 28px;
    color:#CC9933;
}
.link-arrow{
    background-image: url(/img/arrow-header.svg);
    width: 21px;
    height: 12px;
    align-items: center;
}
.header-nav{
    display: flex;
    align-items: center;
}
.header-nav-list{
    display: flex;
    margin: 0;
}
.header-nav-link{
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #666;
}
.header-nav-link:hover{
    color:#CC9933
}
.header-bottom{
    padding: 14px 45px;
    display:flex;
    background-color: #FFFFFF;
    border-radius: 15px;
    justify-content: space-between;
}
.header-nav-item{
    font-size: 16px;
    line-height: 1;
    margin-right: 45.5px;
    justify-content: space-between;
}
.btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-between;
}
.header-btn{
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    padding: 13px 19px;
    color:#CC9933;
    border: 1px solid #CC9933;
    border-radius: 15px;
}
.header-btn:hover{
    color:#FFFFFF;
    background-color: #CC9933;
}
.header-btn:not(:first-child){
    margin-left: 40px ;
}

/* Offer */
.container-section-offer{
    padding:0;
}
.section-heading{
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    margin-left: 40px;   
    margin-top: 0;
    margin-bottom: 20px;
}
.section-offer-div{
    display: flex;
    justify-content: space-between;
}
.section-offer-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49%;
}
.section-offer-small{
    display:inline-block;
    padding: 40px 108px 40px 45px;
    /* margin-bottom: 25px;
    margin-right: 24px; */
    color:#FFFFFF;
    border-radius: 15px;
}
.offer1{
    background: url(/img/offer1.png) center center no-repeat;
    background-size: cover;
    margin-bottom: 15px;
}
.offer2{
    background: url(/img/offer2.png) center center no-repeat;
    background-size: cover;
}
.section-offer-small:not(:first-child){
    margin-bottom: 0;
}
.section-offer-header{
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
}
.section-offer-price{
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 45px;

}
.section-offer-big{
    display:inline-block;
    margin: 0;
    border-radius: 15px;
    padding: 212px 229px 40px 45px;
    width: 49%;
    color:#FFFFFF;
    background: url(/img/offerbig.png) center center no-repeat;
    background-size: cover;
}
.section-offer-header-big{
    display: flex;
    margin:0;
    margin-bottom: 15px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
}
.section-offer-price-big{
    margin-top:0;
    margin-bottom: 45px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
}
.section-offer__link{
    background-image: url(/img/arrow.svg);
    background-position: right center;
    background-repeat: no-repeat;
    font-size: 16px;
    padding-right: 15px;
    line-height: 16px;
    font-weight: 400;
    color:#F0BF5F;
    transition: 0.5s;
}
.section-offer__link:hover{
    padding-right: 25px;
}

/* About */

.section-about{
    font-size: 16px;
    line-height: 32px;
}
.container-section-about{
    padding:0;
}
.section-about__heading{
    margin-bottom: 18px;
}
.section-about__text {
 margin:0;
 width: 76%;
}


/* Service */
.service-container{
    margin-bottom: 47px;
    padding:0;
}

.section-service-list{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-service-list-item{
    display:inline-block;
    margin-right: auto;
    margin-bottom: 24px;
    width: 49%;
    background-color: #FFFFFF;
    border-radius: 15px;
}
.section-service-list-item:nth-child(2n){
    margin-right: 0;
}
.section-service-img{
    height:50%;
}

.section-service__link{
    background-image: url(/img/arrow.svg);
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 19px;
    font-size: 20px;
    line-height: 40px;
    font-weight: 500;
    color: #CC9933;
    transition: 0.5s;
}
.section-service__link:hover{
    padding-right: 25px;
}
.section-service__text{
    padding: 20px 103px 35px 45px;
}
.section-service-text{
    margin:0;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;

}

/* Advantage */

.advantage-container{
    max-width: 1194px;
}
.section-advantage__list-item{
    padding: 40px 37px 32px 45px;
    background-color: #FFFFFF;
    border-radius: 15px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
} 
.section-advantage__list{
    row-gap: 22px;
}
.section-advantage__col{
    display:flex;
}
.icon1{
    background: url(/img/advimg1.svg) no-repeat;
    width: 64px;
    height: 66px;
}
.icon2{
    background: url(/img/advimg2.svg) no-repeat;
    width: 67px;
    height: 66px;
}
.icon3{
    background: url(/img/advimg3.svg) no-repeat;
    width: 64px;
    height: 66px;
}
.icon3{
    background: url(/img/advimg3.svg) no-repeat;
    width: 64px;
    height: 66px;
}
.icon4{
    background: url(/img/advimg4.svg) no-repeat;
    width: 66px;
    height: 66px;
}
.icon5{
    background: url(/img/advimg5.svg) no-repeat;
    width: 66px;
    height: 66px;
}
.icon6{
    background: url(/img/advimg6.svg) no-repeat;
    width: 64px;
    height: 66px;
}
.icon7{
    background: url(/img/advimg7.svg) no-repeat;
    width: 67px;
    height: 66px;
}
.icon8{
    background: url(/img/advimg8.svg) no-repeat;
    width: 64px;
    height: 66px;
}
.section-advantage-text{
    margin-top: 9px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
}
.section-advantage__heading{
    margin-left: 40px;
}
.section-advantage__list{
    display:flex;
    flex-wrap: wrap;
}

/* Placement */
.placement-container{
    max-width: 1170px;
    padding:0;
    margin-bottom: 374px;
}
.section-placement-list{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-placement-item{
    margin:0 3px 24px;
    min-width: 374px;
    min-height: 440px;
    background-color: #FFFFFF;
    border-radius: 15px;
    overflow: hidden;
}
.section-placement-img {
    background-position: center;
    height: 50%;
    background-size: cover;
}
.placement1 {
    background-image: url(/img/placement1.png);
}
.placement2 {
    background-image: url(/img/placement2.png);
}
.placement3 {
    background-image: url(/img/placement3.png);
}
.placement4 {
    background-image: url(/img/placement4.png);
}
.placement5 {
    background-image: url(/img/placement5.png);
}
.placement6 {
    background-image: url(/img/placement6.png);
}
.placement7 {
    background-image: url(/img/placement7.png);
}
.placement8 {
    background-image: url(/img/placement8.png);
}
.section-placement__description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 31px 45px 45px;
    height: 50%;
}
.section-placement__price-rate{
    display: flex;
    margin-bottom: 14px;
    justify-content: space-between;

}
.placement-info{
    margin:0;
}
.price{
    margin-right: 11px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
}
.placement-info-name{
    margin-top: 0;
    margin-bottom:  13px;;
}
.placement-info-place{
    margin: 0;
}
.section-placement__place{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.placement-item-more{
    display:flex;
    align-items: flex-end;
    padding: 25px 55px;
    background: url(/img/placement-more.png) center center no-repeat;
    background-size: cover;
}
.placement-item-more-btn{
    font-size: 20px;
    line-height: 40px;
    font-weight: 500;
    align-items: flex-end;
    color:#FFFFFF
}
.placement-btn{
    margin-top: 20px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color:#CC9933;
    padding: 12px 20px;
    border: 1px solid #CC9933;
    border-radius: 15px;
}
.placement-btn:hover{
 color: #FFFFFF;
 background-color: #CC9933;
}

/* Contacts */
.section-container{
    padding:0;
    margin-bottom: 40px;
}

.contacts-container{
    display: flex;
    padding: 45px;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 40px;
}
.contacts-list-info{
    width:57%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 57px;
    align-items: flex-start;
}
.section-contacts-list{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    flex:auto
}
.section-contact-item{
    display:flex;
    padding-bottom: 22px;
    border-bottom: 1px solid #E9E9E9;
}
.contacts-link__adv{
    margin: 0;
}
.section-contact-item:not(:first-child){
    padding-top: 26px;
}
.section-contacts-heading{
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    min-width: 145px;
}
.section-contacts-info{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.contact-btn{
    margin-top:45px;
    display:inline-block;
    padding:25px 29px;
    border: 1px solid #CC9933;
    border-radius: 15px;
    color: #CC9933;
}
.contact-btn:hover{
    color: #FFFFFF;
    background-color: #CC9933;

}
.contact__img{
    width:100%;
    min-height: 528px;
    background: url(/img/Contacts.png) center top no-repeat;
    object-fit: cover;
    border-radius: 15px;
}

/* Footer */

.container-footer{
    min-height: 341px;
    display: flex;
    justify-content: space-between;
    padding: 45px;
    background-color: #333;
    border-radius: 15px;
}
.footer-info{
    max-width: 302px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}
.footer-contacts{
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-info-text {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color:#FFFFFF;
    margin: 0;
}
.footer-adress{
    margin: 0;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}
.footer-link{
    display: flex;
    flex-direction: column;
    max-width: 143px;
}
.footer-right{
 display: flex;
 flex-direction: row;
 align-items: flex-start;
}
.footer-adress{
    color:#FFFFFF;
}
.footer-phone{
    margin-bottom: 15px;
}
.phone:hover{
    color: #F0BF5F;
}
.footer-info-agreement{
    margin-top: 4px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color:#CC9933;
}
.phone{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color:#CC9933;
}
.mail{
    color:#CC9933;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.mail:hover{
    color: #F0BF5F;
}
.footer-social-link{
    display: flex;
    flex-direction: row-reverse;
}
.footer-social-item{
    margin-bottom: 20px;
}
.footer-social-logo{
    margin-left: 16px;

}
.footer-social-icon{
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size:contain ;
    background-repeat: no-repeat;
    background-color: transparent;
    fill: #999999;
}
.footer-social-icon:hover path{
    fill: #CC9933;
}
.footer-img{
    z-index: 1;
    width: 254px;
    height: 228px;
    background-image: url(/img/footer.png);
    position: relative;
    left: -90px;
    top: 68px;
}



/* testblock */

@media (max-width:1160px) {
    .section-placement-item{
        width:49%;
    }
}
@media (max-width:780px) {
    .section-placement-item{
        min-height: 225px;
        display:flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 10px;
    }
    .section-placement-img{
        height:100%;
        width: 50%;
    }
    .section-placement__description{
        padding:25px 30px;
        width:50%;
        height: 100%;
    }
    .contacts-container{
        flex-direction: column-reverse;
    }
    .contact__img{
        min-height: 260px;
        background-position: center center;
        margin-bottom: 25px;
    }
    .contacts-list-info{
        width:100%;
        margin: 0;
    }
    
}