@import '../../style/variables.scss';

.advantage_list{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  justify-items: center;
  gap: 22px;
}
.advantage_card{
  display:flex;
  flex-direction: column;
  min-width: 276px;
  height: 276px;
  padding: 40px 37px 32px 45px;
  background-color: #FFFFFF;
  border-radius: 15px;
  @include myfont(400,16,24);
} 
.advantage_card_icon{
  width: 64px;
  height: 66px;
}
.advantage_card_text{
  margin-top: 9px;
  margin-bottom: 0;
  @include myfont(400,16,24);
}