@import '../../style/variables.scss';

.service_container{
  margin-bottom: 47px;
}

.service_list{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service_list_item{
  display:inline-block;
  margin-right: auto;
  margin-bottom: 24px;
  width: 49%;
  background-color: #FFFFFF;
  border-radius: 15px;
  overflow: hidden;
}
.service_list_item:nth-child(2n){
  margin-right: 0;
}
.service_img{
  width: 100%;
  height:50%;
}

.service_link{
  @include myfont(500,20,40);
  background-image: url(../../img/arrow.svg);
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 19px;
  color: #CC9933;
  transition: 0.2s;
}
.service_link:hover{
  padding-right: 25px;
}
.service_description{
  padding: 20px 103px 35px 45px;
}
.service_text{
  margin:0;
  @include myfont(400, 16, 32);
}

@media (max-width:575px){
    
  .service_list{
      flex-direction: column;
  }
  .service_list_item{
      width: 100%;
  }
}