.header_container{
  padding:0;
}
.header{
  margin: 30px auto 70px;
  flex-direction:column-reverse;
}
.header_top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;
}
.logo{
  margin-right: 40px;
}
.header_top_left{
  display: flex;
  align-items: center;
}
.header_phone{
  font-size: 20px;
  font-weight: 500;
  color:#666
}
.header_phone:hover{
  color: #CC9933;
}
.header_account_link{
  font-size: 16px;
  background-image: url(../../img/arrow-header.svg);
  background-position: left 2px;
  background-size: 20px 12px;
  background-repeat: no-repeat;
  padding-left: 28px;
  color:#CC9933;
}
.link_arrow{
  background-image: url(../../img/arrow-header.svg);
  width: 21px;
  height: 12px;
  align-items: center;
}
.header_nav{
  display: flex;
  align-items: center;
}
.header_nav_list{
  display: flex;
  margin: 0;
}
.header_nav_link{
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #666;
}
.header_nav_link:hover{
  color:#CC9933
}
.header_bottom{
  padding: 14px 45px;
  display:flex;
  background-color: #FFFFFF;
  border-radius: 15px;
  justify-content: space-between;
}
.header_nav_item{
  font-size: 16px;
  line-height: 1;
  margin-right: 45.5px;
  justify-content: space-between;
}
.btn{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-between;
}
.header_btn{
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  padding: 13px 19px;
  color:#CC9933;
  border: 1px solid #CC9933;
  border-radius: 15px;
  background: transparent;
}
.header_btn:hover{
  color:#FFFFFF;
  background-color: #CC9933;
}
.header_btn:not(:first-child){
  margin-left: 40px ;
}