@import '../../style/variables.scss';

.header_container{
  padding:0;
  max-width: 1170px;
}
.header{
  margin: 30px auto 70px;
  flex-direction:column-reverse;
}
.header_top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;
}
.logo{
  margin-right: 40px;
}
.header_top_left{
  display: flex;
  align-items: center;
}
.header_phone{
  @include myfont(500,20,20);
  color:#666
}
.header_phone:hover{
  color: #CC9933;
}
.header_account_link{
  @include myfont(400,16,16);
  background-image: url(../../img/arrow-header.svg);
  background-position: left 2px;
  background-size: 20px 12px;
  background-repeat: no-repeat;
  padding-left: 28px;
  color:#CC9933;
}
.link_arrow{
  background-image: url(../../img/arrow-header.svg);
  width: 21px;
  height: 12px;
  align-items: center;
}

.header_nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.1% 3.9%;
  border-radius: 15px;
  background-color: #FFFFFF;
}

.btn{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
