@import '../../style/variables.scss';
/* desktop */

.header_nav_list{
  display: flex;
}
.header_nav_link{
  @include myfont(400,16,16);
  color: #666;
}
.header_nav_link:hover{
  color:#CC9933
}
.header_nav_item:not(:last-child){
  margin-right: 45.5px;
}

@media(max-width: 1000px) {
  .header_nav_list{
    display: none;
  }
}
/* side  */

