
.section-container{
  margin-bottom: 40px;
}
.contacts_header{
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  margin-left: 40px;   
  margin-top: 0;
  margin-bottom: 20px;
}
.contacts_container{
  display: flex;
  padding: 45px;
  background-color: #FFFFFF;
  border-radius: 15px;
  margin-bottom: 40px;
}
.contacts_list{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  flex:auto
}
.contacts_list_info{
  width:57%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 57px;
  align-items: flex-start;
}


.contact_item{
  display:flex;
  padding-bottom: 22px;
  border-bottom: 1px solid #E9E9E9;
}
.contacts_link{
  color:#F0BF5F;
  transition: 0.5s;
}
.contact_item:not(:first-child){
  padding-top: 26px;
}
.contacts_heading{
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  min-width: 145px;
}
.contacts_list_info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.contact_btn{
  margin-top:45px;
  display:inline-block;
  padding:25px 29px;
  border: 1px solid #CC9933;
  border-radius: 15px;
  color: #CC9933;
}
.contact_btn:hover{
  color: #FFFFFF;
  background-color: #CC9933;

}
.contact_img{
  width:100%;
  min-height: 528px;
  background: url(../../img/Contacts.png) center top no-repeat;
  object-fit: cover;
  border-radius: 15px;
}

@media (max-width:780px) {
  .contacts_container{
      flex-direction: column-reverse;
  }
  .contact_img{
      min-height: 260px;
      background-position: center center;
      margin-bottom: 25px;
  }
  .contacts_list_info{
      width:100%;
      margin: 0;
  }
  
}
